* {
  font-family: sans-serif;
}
#parent {
  background-color: #1f2022;
  width: 100%;
  height: 100%;
}
#header {
  background-color: #353a40;
  padding: 1.25%;
  width: 100%;
  height: 100%;
}
#header h1 {
  color: #f6f5f5;

  font-size: 2.5em;
}
#footer p {
  color: #f6f5f5;
  font-size: 0.5em;
}

#header,
#footer,
#body {
  display: flex;
  align-items: center;
  justify-content: center;
}
#title {
  color: #f6f5f5;
}
#body {
  flex-direction: column;
}
#game {
  transition: 2.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #353a40;
  border-radius: 2em;
  margin: 5vw;
  box-shadow: 0px 10px 10px #1f2022;
  width: 75vw;
  height: 75vw;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  -webkit-transition: 2.5s ease-in-out;
  -moz-transition: 2.5s ease-in-out;
  -ms-transition: 2.5s ease-in-out;
  -o-transition: 2.5s ease-in-out;
}
#board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 75%;
  transition: 1s ease-in-out;
  height: 75%;
  background-color: #1f2022;
  border-radius: 1em;
  margin: 2em;

  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 10px #1f2022;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}
#board:hover {
  transform: scale(1.025) translate(0, -1em);
  transition: 0.5s ease-in-out;
  -webkit-transform: scale(1.025) translate(0, -1em);
  -moz-transform: scale(1.025) translate(0, -1em);
  -ms-transform: scale(1.025) translate(0, -1em);
  -o-transform: scale(1.025) translate(0, -1em);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
#game:hover {
  transform: scale(1.05) translate(0, -0.5em);
  transition: 10s ease-in-out;
  -webkit-transform: scale(1.05) translate(0, -0.5em);
  -moz-transform: scale(1.05) translate(0, -0.5em);
  -ms-transform: scale(1.05) translate(0, -0.5em);
  -o-transform: scale(1.05) translate(0, -0.5em);
  -webkit-transition: 10s ease-in-out;
  -moz-transition: 10s ease-in-out;
  -ms-transition: 10s ease-in-out;
  -o-transition: 10s ease-in-out;
}
.square {
  transition 0.4s ease-in-out;
  justify-self: center;
  border: 0.1px solid #7ebab5;
  width: 80%;
  flex: 0;
  border-radius: 1em;
  height: 80%;
  background-color: #353a40;
  text-align: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  align-items: center;
  white-space: nowrap;
}
.square p {
  font-size: 4em;
  color: #7ebab5;
  font-weight: bold;
  overflow: hidden;
  align-self: center;
  justify-self: center;
  text-align: center;
  padding: 0;
  margin: 0;
  display: inline;
}
.square:hover {
  transform: scale(1.05) translate(0, -0.5em);
  background-color: #454a50;
  transition: 0.4s ease-in-out;
  
}
.square:active{
  transform: scale(1.1) translate(0, 0.5em);
  background-color: #151a30;
  transition:0.2s ease-in-out;
  -webkit-transition:0.2s ease-in-out;
  -moz-transition:0.2s ease-in-out;
  -ms-transition:0.2s ease-in-out;
  -o-transition:0.2s ease-in-out;
}
#status{ padding:1em; background-color:#212529; color:#f6f5f5; border-radius:2em; margin:0.5em; margin-top: 0; }
#reset{ padding:1em; background-color:#212529; color:#f6f5f5; border-radius:2em;  margin-bottom: 1em;;}
.comAnim {
  
}